---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/profile.jpg" alt="Home" width="100%">

    <br>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Photo taken at Olympic National Park.
  </div>
  
  <div class="col-md-6">
    <p>
    I am currently a PhD candidate in mathematics at the University of South Carolina. My doctoral advisor is <a href="https://duncan.math.sc.edu/" target="_blank">Alex Duncan</a>, and I intend to graduate in the spring of 2024.
    </p>

    <p>
    My research is broadly in algebraic geometry, but I am particularly interested in birational geometry, Galois cohomology, Fano varieties, and Cremona groups (to name a few topics). Most recently, I have been investigating classes of automorphisms on Del Pezzo surfaces over general fields.
    </p>

    <ul>
      <li>In the fall of 2022, I am teaching Math 111I (College Algebra).</li>
      <li>Along with <a href="http://patlank.com/" target="blank">Pat Lank</a>, I am co-organizing the <a href="http://patlank.com/uscgradcol22to23" target="blank">Graduate Colloquium</a> at UofSC for the 2022-2023 academic year.</li>
      <li>I am also a participant of the <a href="https://www.scagnt.org/student_seminar/" target="blank">AGCA Student Seminar</a> and a member of the <a href="https://www.scagnt.org/seminar/" target="_blank">SCAGNT group</a> at UofSC</li>
    </ul>

  </div>
</div>
